@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import "tailwindcss";

@layer components {
    .sidebar {
        @apply w-72;
    }

    .sidebar.collapsed {
        @apply w-16;
    }

    .sidebar.collapsed .submenu {
        @apply hidden;
    }

    #sidebar.collapsed .sidebar-text,
    #sidebar.collapsed .menu-text,
    #sidebar.collapsed .sidebar-logo {
        @apply hidden;
    }

    #sidebar.collapsed .menu-btn {
        @apply justify-center px-0;
    }

    .menu-btn {
        @apply w-full h-14 px-4 flex items-center gap-3 rounded-lg
           hover:bg-gray-100 transition;
    }

    .submenu-btn {
        @apply w-full h-11 px-4 flex items-center gap-3
          text-sm text-gray-700
          hover:bg-gray-100 transition;
    }

    .submenu {
        @apply overflow-hidden transition-all duration-300 max-h-0;
    }

    .submenu.open {
        @apply max-h-125;
    }

    .input-mini {
        @apply h-9 border-2 border-gray-400 rounded-xl px-2 text-center focus:outline-none focus:ring-1 focus:ring-gray-500;
    }

    .parent-btn + .submenu.open ~ .parent-btn span:last-child {
        transform: none;
    }

    .parent-btn:has(+ .submenu.open) span:last-child {
        transform: rotate(180deg);
        transition: transform 0.3s;
    }

    .rod-input {
        text-transform: uppercase;
    }

    .rod-input::placeholder {
        text-transform: none;
    }

    .mirror {
        transform: scaleX(-1);
    }

    @keyframes scaleIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .animate-scaleIn {
        animation: scaleIn 0.2s ease-out;
    }

    @media print {
        body {
            margin: 0;
        }
    }
}

html {
    font-size: 13px;
}

:root {
    --blue: #1e2939;
    --green: #4caf50;
    --whitesmoke: #f5f5f5;

    --font-sans:
        "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;

    --font-heading:
        "Montserrat", "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", sans-serif;
}
